{
  "tabWidth": 2,
  "useTabs": false,
  "arrowParens": "always",
  "endOfLine": "lf",
  "printWidth": 80,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "semi": true,
  "singleAttributePerLine": true,
  "trailingComma": "es5",
  "htmlWhitespaceSensitivity": "css",
  "importOrder": [
    "^react$",
    "<THIRD_PARTY_MODULES>",
    "^@/(.*)$",
    "^@shared/(.*)$",
    "^@components/(.*)$",
    "^@modules/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"]
}
